@charset "UTF-8";
/* Media Queries */
@media (min-width: 768px) {
  .flex-center {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .none {
    display: none;
  }
  .flex-center {
    display: block;
  }
}

/* header */
header {
  /*margin-bottom: 10px;*/
  border-bottom: 1px solid rgba(43,91,6,.15);
}

header h1 {
  line-height: 48px;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

header h1>a {
  color: #333;
  display: block;
}

header h1>a:hover,
header h1>a:focus {
  color: #333;
  text-decoration: none;
}

header>div.container>div.buttons {
  margin: 7px 0;
}

header>div.container>div.buttons>.btn-group>.btn:first-child {
  margin-left: 10px;
}

header>div.container>div.buttons button {
  margin-left: 10px;
}

/* コンテンツヘッダー */
.questionnaireMainHeader {
  background-color: #337ab7;
  color: #fff;
  padding: 25px 0;
}

.questionnaireMainHeader .questoinnaireMainHeaderTitle {
  margin: 0;
}

.questionnaireAsideHeader {
  background-color: #fafafa;
  color: #888;
  margin-bottom: 30px;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.questionnaireAsideHeader .username {
  margin-right: 15px;
}

.showHeaderAnsweredCount {
  font-size: 24px;
  margin-bottom: -3px;
}

.showHeaderAnsweredText {
  font-size: 12px;
  margin-bottom: 8px;
  opacity: 0.8;
}

/* sticky footer */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

/* フラッシュメッセージ */
#flash {
  margin-top: 10px;
}

/* アンケート一覧 */
.table thead>tr>th.td-num,
.table tbody>tr>td.td-num {
  width: 50px;
}

.table thead>tr>th.datetime {
  max-width: 12em;
}

.table tbody>tr>td {
  vertical-align: middle;
}

.table tbody>tr>td.answered-status {
  padding: 8px 0;
}

.table.list-table tbody>tr>td {
  cursor: pointer;
}

.table.list-table tbody>tr>td.owner, div.owner {
  color: #337ab7;
  cursor: pointer;
}

.table.list-table tbody>tr>td.owner:hover, .owner:hover {
  color: #23527c;
  text-decoration: underline;
}

/* 回答画面 */
/* 回答テーブルの3列目以降のカーソルをポインターに変更 */
.ans-table>tbody>tr>td:nth-child(n+3),
.ans-table>tbody>tr>td:nth-child(n+3)>input[type='radio'] {
  cursor: pointer;
  transition: background-color 0.5s;
}
.ans-table>tbody>tr>td:nth-child(n+3):hover {
  background-color: #f5f5f5;
}

/* 管理者がテーブルから詳細を表示 */
.table>tbody>tr.show-detail {
  cursor: pointer;
}